/**
* CSS Generals
* Define the general look of the page
*/
body {
    font: 10px sans-serif;
}

div {
    margin-bottom: 1vh;
}

h1 {
    font-size: 16pt;
    margin-bottom: 1vh;
}

h2 {
    font-size: 14pt;
    margin-bottom: 0.5vh;
}

p {
    font-size: 12pt;
    margin-bottom: 0.3vh;
}

/**
* CSS Containing
* Those definers make the layout positioning and aligning.
*/
#container {
    height: 95vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container #vis, #container #data {
    width: 80%;
    margin: 20px;
}

#container #vis {
    max-height: 60%;
    height: 60%;
}

#container #data {
    max-height: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container #data div, #container #data form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#dataForm input[type=number] {
    width: 70px;
    margin: 0.4vw;
}

/**
* SVG
* Those definers modify the SVG look.
*/
.axis path {
    display: none;
}

.axis line {
    shape-rendering: crispEdges;
    stroke: #000;
}

.axis .minor line {
    stroke: #777;
    stroke-dasharray: 2,2;
}
